.left-sub-item {
    height: 0px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    overflow: hidden;
}
.left-sub-item .item {
    width: 90%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    /* text-decoration: underline; */
    color: rgb(27,33,134);
    background-color: rgba(5,178,252,0.2);
    margin-top: 2px;
    margin-bottom: 3px;
    margin-right: 2px;
    float: right;
    border-radius: 8px;
    transition-duration: 0.3s;
}
.left-sub-item .itemSelected {
    width: 90%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    /* text-decoration: underline; */
    /* color: rgb(27,33,134); */
    color: rgb(255,255,255);
    background-color: rgba(5,178,252,0.8);
    margin-top: 2px;
    margin-bottom: 3px;
    margin-right: 2px;
    float: right;
    border-radius: 8px;
    transition-duration: 0.3s;
}
.left-sub-item .item:hover {
    box-shadow: 0 0 5px black;
    background-color: rgba(5,178,252,0.4);
    transform: translate(-1px,0px);
    cursor: pointer;
}
.left-sub-item .item span:hover {
    cursor: pointer;
}
.left-sub-item .itemSelected:hover {
    box-shadow: 0 0 5px black;
    background-color: rgba(5,178,252,0.8);
    transform: translate(-1px,0px);
    cursor: pointer;
}
.left-sub-item .itemSelected span:hover {
    cursor: pointer;
}