.content-tfk-headlines {
    /* height: calc(99vh - 100px); */
    /* background-color: rgb(250,250,250); */
    overflow-y: auto;
    padding-left: 20px;
    scrollbar-width: none;
    margin-top: 40px;
}