.jump-to-top {
    height: 40px;
    width: 45px;
    border-radius: 8px;
    background-color: rgb(5,178,252,0.4);
    background-image: url("../../../../public/jump-to-top.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /* left: 1690px; */
    /* top: 780px; */
    transition-duration: 0.3s;
}
.jump-to-top:hover {
    cursor: pointer;
    box-shadow: 0 0 5px black;
}